<div class="mx-auto" style="max-width:900px;">

<div class="col-6 mx-auto">
  <% if @customer.errors.any? %>
    <%= @customer.errors.count %>件のエラーが発生しました
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <h4 class="d-flex text-light mb-4 ml-5">
    <span style="background-color:#adb5bd">　会員情報編集　</span>
  </h4>

  <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
  <!--モデルのurl、メソッドを指定してほしいアクションを呼び出す-->
    <label for="name">氏名</label><br>
    <%= f.text_field :last_name, autofocus: true, class: "col-xs-2 mb-2" %>
    <%= f.text_field :first_name, autofocus: true, class: "col-xs-2 mb-2" %>
    <br>

    <label for="name_kana">カナ</label><br>
    <%= f.text_field :last_name_kana, autofocus: true,class: "col-xs-2 mb-2" %>
    <%= f.text_field :first_name_kana, autofocus: true, class: "col-xs-2 mb-2" %>
    <br>

    <label for="postal_code">郵便番号</label><br>
      <%= f.text_field :postal_code, autofocus: true, class: "mb-2" %>
    <br>

    <label for="address">住所</label><br>
    <%= f.text_field :address, autofocus: true, class: "mb-2" %>
    <br>

    <label for="telephone_number">電話番号</label><br>
    <%= f.text_field :telephone_number, autofocus: true, class: "mb-2" %>
    <br>

    <label for="email">メールアドレス</label><br>
    <%= f.text_field :email, autofocus: true, class: "mb-2" %>
    <br>

    <div class="row justify-content-center m-3 pr-5">
      <%= f.submit "変更内容を保存", class: "btn btn-success mr-2" %><!--form_withで指定したアクション-->
      <button class="btn btn-danger ml-5">
        <%=link_to "退会する", customers_confirm_withdraw_path, class: 'text-light' %>
      </button>
    </div>
  <% end %>
</div>
</div>
