<div class="mx-auto" style="max-width:900px;">

  <% if @item.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= @item.errors.count %>件のエラーが発生しました
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <h4 class="d-flex text-light mb-3 ml-5">
    <span style="background-color:#adb5bd">　商品新規登録　</span>
  </h4>

  <div class="d-flex justify-content-center">
    <%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3" >商品画像</label>
      <div class="col-sm-8"><%= f.file_field :image, accept: "image/*" %></div>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-3" >商品名</label>
      <div class="col-sm-8"><%= f.text_field :name %></div>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-3" >商品説明</label>
      <div class="col-sm-8"><%= f.text_area :introduction %></div>
    </div>

    <div class="row mb-3">
      <label class="col-form-label col-sm-3" >税抜価格</label>
      <div class="col-sm-8"><%= f.text_field :price %>円</div>
    </div>

    <div class="text-center mt-5">
      <%= f.submit '新規登録', class: "btn btn-success mr-5"%>
    </div>
  <% end %>
  </div>

</div>
