<div class="mx-auto" style="max-width:900px;">

  <h4 class="text-light mb-3 ml-5">
    <span style="background-color:#adb5bd">　注文情報入力　</span>
  </h4>


  <%= form_with model: @order, url: orders_confirm_path do |f| %>
    <div class="mb-5">

      <div class="mb-3">
        <h5 class="font-weight-bold">支払方法</h5>
        <div class="ml-5">
        <!--enum導入-->
          <%= f.radio_button :payment_method, Order.payment_methods.key(0),checked: "checked" %>
          <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        <br>
          <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
          <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        </div>
      </div>

      <div>
        <h5 class="font-weight-bold">お届け先</h5>
        <div class="ml-5">
          〒<%= @customer.postal_code %>
          <%= @customer.address %>
          <br><%= (@customer.last_name + @customer.first_name) %>
        </div>
      </div>

    </div>

    <div class="text-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
    </div>

  <% end %>
</div>
