<div class="mx-auto" style="max-width:900px;">
  <div>
    <div class="d-flex flex-row align-items-end mb-3" >
      <h4 class="font-weight-bold">商品一覧</h4>
      <h5>（全<%= @count %>件）</h5>
    </div>

    <div class="d-flex flex-wrap justify-content-start text-center" >
      <% @items.each do |item| %>
        <div class="col-3 px-2 mb-2">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200,100) %>
          <% end %>
          <p class="font-weight-bold mt-2"><%= item.name %><br>
          ¥<%= item.add_tax_price.to_s(:delimited) %></p>
        </div>
      <% end %>
    </div>

    <div class="pagination justify-content-center">
      <%= paginate @items %>
    </div>

  </div>
</div>