<h1>商品一覧</h1>（全<%= @count %>件）

<% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(100,100) %>
    <% end %>
    <p>商品名<%= item.name %></p>
    <p>¥<%= item.add_tax_price.to_s(:dalimited) %></p>
  </div>
<% end %>
<%= paginate @items %>
