商品詳細
<div>
  <%= image_tag @item.get_image(200,200) %>
  <h1>商品名<%= @item.name %></h1>
  <p>商品説明<%= @item.introduction %></p>
  <p>¥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)</p>
</div>

<%= form_with model: @cart_item, url: cart_items_path do |f| %>
  個数選択
  <%= f.select :amount, *[1..10] %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <!--数と一緒にitem_idのデータを送るviewには表示されない-->
  <%= f.submit "カートに入れる" %>
<% end %>